* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #262626;
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 10;


}

.ic1 {
    transition: .6s ease-in-out;
}

.ic1:hover {
    transform: rotate(-10deg) scale(.7);
}

main {
    background-color: rgba(0, 0, 0);
    width: 100%;
    height: 800vh;
}


.a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
}

.b {
    border-radius: 30px;
    background-color: rgba(230, 201, 162, 0.8);
    width: 22%;
    height: 30px;
    border: none;
}

.b:hover {
    border: solid #342923 1px;
    background-color: #ffffff;

}

.d1 {
    position: absolute;
    font-size: 20px;
    left: 20px;
    top: 30PX;
    text-align: start;
    width: 400px;
}

.d3 {
    position: relative;
    left: 500px;
    top: -30px;
}

/* **************************** media ***************************** */
@media(max-width:1080px) {
    .pre1 {
        display: none;
    }
}

/* ********************************************************* */

.a1 {
    color: blanchedalmond;
}

.d4 {
    background-image: url("./food_img/food2\ -\ Copy.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    position: absolute;
    top: 50px;
}

.d5 {
    position: relative;
    text-align: center;
    top: 150PX;
    /* color: #f4f4f4; */
    opacity: 0.5;
    font-size: 100px;
}

.d5 span {
    position: relative;
    display: inline-block;
    font-size: 80px;
    color: #ffffff;
    text-transform: uppercase;
    animation: flip 4s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,80% {
        transform: rotateY(360deg)
    }
}

.a2 {
    position: relative;
    text-align: center;
    top: 0px;

}

.d6 {
    position: relative;
    width: 90%;
    top: 0px;
}

.p1 {
    position: relative;
    font-size: 20px;
    text-align: center;
    width: 100%;
    line-height: 30px;
    top: 20px;
}

.d7 {
    text-align: justify;
    position: relative;
    top: 500px;
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 500px;
}

/* ************************************************************* */
.d8 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    top: 1220px;
    /* height:1150px ; */
}

.d {
    margin-top: 20px;
    border-radius: 30px;

}

.d9 {
    position: relative;
    top: -30px;
    /* background-color: white; */
    /* height: 670px;
    width: 350px; */
    /* top: 900px; */
}

.d10 {
    /* background-color: aqua; */
    position: relative;
    background-image: url(./food_img/f5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 350px;
}

.d10:hover .p2 {
    background-color: #000000c0;
    color: #ffffff;
    display:block


}


.d11 {
    /* background-color: blue; */
    position: relative;
    background-image: url(./food_img/Burger.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 350px;
    width: 350px;
}

.d11:hover .p3 {
    background-color: #000000c0;
    color: #ffffff;
    display:block
}

.d13 {
    /* background-color: aqua; */
    position: relative;
    background-image: url(./food_img/steak1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 350px;
    width: 350px;
    bottom: 30px;

}

.d13:hover .p4 {
    background-color: #000000c0;
    color: #ffffff;
    display:block
}

.d14 {
    /* background-color: blue; */
    position: relative;
    background-image: url(./food_img/f6.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 250px;
    width: 350px;
    bottom: 30px;
}

.d14:hover .p5 {
    background-color: #000000c0;
    color: #ffffff;
    display:block
}


.d16 {
    /* background-color: aqua; */
    position: relative;
    background-image: url(./food_img/f4.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 250px;
    width: 350px;
    bottom: 30px;

}

.d16:hover .p6 {
    background-color: #000000c0;
    color: #ffffff;
    display:block
}

.d17 {
    /* background-color: blue; */
    position: relative;
    background-image: url(./food_img/biriyani.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 350px;
    width: 350px;
    bottom: 30px;
}

.d17:hover .p7{
    background-color: #000000c0;
    color: #ffffff;
    display:block
}


.d19 {
    /* background-color: aqua; */
    position: relative;
    background-image: url(./food_img/f7.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 350px;
    width: 350px;
    bottom: 30px;

}

.d19:hover .p8{
    background-color: #000000c0;
    color: #ffffff;
    display:block
}

.d20 {
    /* background-color: blue; */
    position: relative;
    background-image: url(./food_img/f8.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 250px;
    width: 350px;
    bottom: 30px;
}

.d20:hover .p9 {
    background-color: #000000c0;
    color: #ffffff;
    display:block
}

.p2 {
    position: relative;
    text-align: center;
    top: 80px;
    margin: 10px;
    display: none;
}

.p3 {
    position: relative;
    text-align: center;
    top: 120px;
    margin: 10px;
    display: none;

}

.p4 {
    position: relative;
    text-align: center;
    top: 120px;
    margin: 10px;
    display: none;

}

.p5 {
    position: relative;
    text-align: center;
    top: 80px;
    margin: 10px;
    display: none;

}

.p6 {
    position: relative;
    text-align: center;
    top: 80px;
    margin: 10px;
    display: none;

}

.p7 {
    position: relative;
    text-align: center;
    top: 120px;
    margin: 10px;
    display: none;

}

.p8{
    position: relative;
    text-align: center;
    top: 120px;
    margin: 10px;
    display: none;

}

.p9 {
    position: relative;
    text-align: center;
    top: 80px;
    margin: 10px;
    display: none;

}
.a3{
    top:1150px;
    text-align: center;
    position: relative;
    color: #ffffff;
}

/* ############################### Dine In ############################################## */

.d34{
    width: 600px;
    height: 300px;
    color: white;
    position: relative;
    text-align: justify;
    position: relative;
}
.a4{
    text-align: center;
}
.p10{
    font-size: 20px;
    line-height: 30px;

}
.d35{
    background-image: url("./food_img/dine_in.jpg");
    background-size: cover;
    border-radius: 30px 80px;
    background-repeat: no-repeat;
    height: 470px;
    width: 600px;
    position: relative;
    top: 100px;

}
.d36{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    top: 600px;
}



/* ################################## Takeaway ########################################### */

.d37{
    width: 600px;
    height: 300px;
    color: white;
    position: relative;
    text-align: justify;
    top: 80px;

}
.a5{
    text-align: center;
}
.p11{
    font-size: 20px;
    line-height: 30px;
}

.d38{
    background-image: url("./food_img/takeaway2.jpg");
    background-size: cover;
    border-radius: 80px 30px;
    background-repeat: no-repeat;
    height: 470px;
    width: 600px;
    position: relative;
    top: 150px;


}

.d39{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    top: 700px;

}


/* ##################################### Reserve a table ######################################## */

.d40{
    width: 600px;
    height: 300px;
    color: white;
    position: relative;
    text-align: justify;
    top: 100px;

}
.a6{
    text-align: center;
}
.p12{
    font-size: 20px;
    line-height: 30px;
}
.d41{
    background-image: url("./food_img/reserv.jpg");
    background-size: cover;
    border-radius: 30px 80px;
    background-repeat: no-repeat;
    height: 470px;
    width: 600px;
    position: relative;
    top: 250px;


}
.d42{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    top: 800px;
}



/* ################################## Animation ####################################### */

.d43{
    position: relative;
    top: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
  
}
.an{
  color: #ffffff;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 650px;
  top: -150px;
  left: 30%;
}

.message {
  background-color: yellow;
  color: #ffffff;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 300px;
  animation: openclose 6s ease-in-out infinite;
}

.word1, .word2, .word3 {
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 280px;
  }
  30% {
    top: 0.2rem;
    width: 280px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 250px;
  }
  62% {
    top: -4.5rem;
    width: 230px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 700px;
  }
  95% {
    top: -9rem;
    width: 700px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

/* ********************footer***************************** */

footer {
    background-color: rgb(116, 110, 110);
    width: 100%;
    margin-top: 0px;
}

.foot{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.f1{
    position: relative;
    width: 400px;
    height: 200px;
    text-align: center;
}
.abt{
    position: relative;
    top: 20px;
    text-align: center;
}
.abtp{
    position: relative;
    top:40px;
}
.f2{
    position: relative;
    width:400px;
    height: 200px;
    text-align: center;
}
.fls{
    position: relative;
    top: 20px;
}
.flss{
    position: relative;
    text-align: center;
    top: 40px;
}
.f3{
    position: relative;
    width:400px;
    height: 200px;
    text-align: center;
}
.cnt{
    position: relative;
    text-align: center;
    top: 20px;
}
.cntp{
    position: relative;
    text-align: center;
    top: 40px;

}



